@model IEnumerable<AkhilS_301057929.Models.Courses> 
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>Courses</title>

    <link href="~/lib/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="~/CSS/StyleSheet.css" rel="stylesheet" />
</head>
<body>
    <h2 style="text-align:center">List of Courses</h2>
    <table align="center">
        <thead>
            <tr>
                <th>Course Code</th>
                <th>Course Name</th>
                
            </tr>
        </thead>
        <tbody>
            @foreach (AkhilS_301057929.Models.Courses course in Model)
            {
                <tr>
                    <td>@course.CourseCode</td>
                    <td>@course.CourseName</td>                   
                </tr>
            }
        </tbody>
    </table>
</body>
</html>
